@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #05050a; }
::-webkit-scrollbar-thumb { background: #334155; border-radius: 4px; }

body {
  background-color: #05050a;
  color: white;
}